.container-fluid{
    margin: 0;
    padding: 0;
}

.logo{
    width: 100px;

}

.nav-item {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
  }

.nav-link:hover{
    background-color: orange;

} 





